.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') iLoveMyCity!
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/bangalore') Bangalore
            li
              a(href='/delhi') Delhi
            li
              a(href='/mumbai') Mumbai
            li
              a(href='/bihar') Bihar
            li
              a(href='/kolkata') Kolkata